* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
 }
 
 
 body {
    background-color: palevioletred;
 }
 
 .logo {
    width: 120px;
 }

 @media (max-width:1023px) {
    .encabezado .boton {
       display: none
    }
     }
     
     @media (max-width:768px) {
       .encabezado {
          height: auto;
          flex-direction: column;
          text-align: center;
       }
       .encabezado .boton {
          display: none;
       }
    
     }